body {
  margin: 0;
  overflow: hidden;
  font-family: Comic Sans MS, sans-serif;
}

#gameCanvas {
  width: 100%;
  height: 100vh;
  display: block;
}

.button {
  background: #ffcc00;
  padding: 12px 18px;
  margin: 10px;
  border-radius: 15px;
  font-size: 22px;
  cursor: pointer;
  border: 3px solid #333;
}
.button:hover {
  background: #ffee66;
}
